---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Who We Are"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 21 2024')}
	heroImage=""
>

	<main>
		<h3>Meet our Team</h3>

		<p>Meet our team members :)</p>

		<ul>
			<li>
				<a href="https://wasteof.money/@siliconecb_">Silicone</a>
			</li>

			<li>
				<a href="https://wasteof.money/@Skylar">Skylar</a>
			</li>

			<li>
				<a href="https://wasteof.money/@radi8">Radi8</a>
			</li>

			<li>
				<a href="https://wasteof.money/@flux ">Flux</a>
			</li>
		</ul>

		<h3>So, what do we do?</h3>

		<p>
			Our goal is to make podcast episodes every week
			about the latest tech news or wasteof.money posts and
			topics.
		</p>

		<h3>How Can I Join?</h3>

		<p>
			Currently, we don't have open joining. Though, you could apply
			in our <a href="https://discord.gg/z4rwTHc275">Discord Server</a>!
			In there, you can navigate to the <code>#applications</code> channel.
		</p>
	</main>

</Layout>
